page-tabs
{
}

.spacing
{margin-right: 10px;
 color:black;
 font-size: 21px;
}

.logo
{
color:red;    
}

.image {
    height: 3vw; 
    width: 3vw; 
   border: 5px solid #fff;
   border-radius: 25%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.circle-pic{
   width:25px;
   height:25px;
   -webkit-border-radius: 30%;
   border-radius: 330%;
}